<li class="stretch {{#if active}}selected{{/if}}">
	<input class="stretch-checkbox" type="hidden" name="{{@key}}" value="{{#if active}}1{{/if}}{{#unless active}}0{{/unless}}">
	<!-- Icon -->
	<div class="stretch-image">
		<img src="{{gif}}">
	</div> <!-- .stretch-image -->

	<!-- Info -->
	<div class="stretch-info">
		<p class="stretch-title">{{title}}</p>
		<p class="target-duration-container">
			<span class="d-flex align-items-center">
				<span class="oi oi-target"></span>
				<span>{{target}}</span>
			</span>
			<span class="d-flex align-items-center">
				<span class="oi oi-clock"></span>
				<span class="duration">{{duration}}</span>
			</span>
		</p>
	</div> <!-- .stretch-info -->

	<!-- Expand button -->
	<div class="expand-stretch">
		<span class="chevron chevron-down"></span>
	</div> <!-- .expand-stretch -->

	<!-- Description -->
	<div class="stretch-drawer">
		<div class="stretch-desc-alt">
			<p><strong>Props:</strong> {{props}}</p>
			<p><strong>Steps:</strong></p>
			<ol class="steps">
				{{{steps}}}
			</ol>
		</div>
	</div>
</li>