<!-- Stretch list item -->
<li class="stretch {{#if active}}selected{{/if}}">
	<!-- Input field -->
	<input class="stretch-checkbox" type="hidden" name="{{@key}}" value="{{#if active}}1{{/if}}{{#unless active}}0{{/unless}}">

	<!-- Stretch icon -->
	<div class="stretch-image">
		<img src="{{gif}}">
	</div>

	<!-- Stretch info -->
	<div class="stretch-info">
		<p class="stretch-title">{{title}}</p>
		<p class="target-duration-container">
			<!-- Target -->
			<span class="d-flex align-items-center">
				<span class="oi oi-target"></span>
				<span>{{target}}</span>
			</span>
			<!-- Duration -->
			<span class="d-flex align-items-center">
				<span class="oi oi-clock"></span>
				<span class="duration">{{duration}}</span>
			</span>
		</p> <!-- /.target-duration-container -->
	</div> <!-- /.stretch-info -->

	<!-- Chevron -->
	<div class="expand-stretch">
		<span class="chevron chevron-down"></span>
	</div> 

	<!-- Drawer description -->
	<div class="stretch-drawer">
		<div class="stretch-desc">
			<p><strong>Props:</strong> {{props}}</p>
			<p><strong>Steps:</strong></p>
			<ol class="steps">
				{{{steps}}}
			</ol>
		</div> <!-- /.stretch-dec -->
	</div> <!-- /.stretch-drawer -->
</li>