<li class="stretch-alt {{#if active}}selected{{/if}}">
	<input class="stretch-checkbox" type="hidden" name="{{@key}}" value="{{#if active}}1{{/if}}{{#unless active}}0{{/unless}}">
	
	<div class="stretch-check">
	</div>

	<!-- Info -->
	<div class="stretch-info">
		<p class="text-primary"><strong>{{title}}</strong></p>
		<p><i>{{target}} • Every {{time}}</i></p>
	</div> <!-- .stretch-info -->

	<!-- Expand button -->
	<div class="expand-stretch">
		<span class="chevron chevron-down"></span>
	</div> <!-- .expand-stretch -->

	<!-- Description -->
	<div class="stretch-drawer">
		<div class="container">
			<!-- Icon -->
			<div class="stretch-image-alt">
				<!--
				<img src="https://s21.q4cdn.com/861911615/files/images/placeholder.png"> -->
				<img src="{{gif}}">
			</div> <!-- .stretch-image -->
			<div class="stretch-desc-alt">
				<p><strong>Duration:</strong> {{duration}}</p>
				<p><strong>Props:</strong> {{props}}</p>
				<p><strong>Steps:</strong></p>
				<ol class="steps">
					{{{steps}}}
				</ol>
			</div>
		</div>
	</div>
</li>