{{#with data}}
<div id="go-page">

	<div class="container">

		<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
			<symbol id="checkmark-bold" viewBox="0 0 24 24">
			<path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
			</symbol>
		</svg>

		{{#if loggedIn}}
		<div class="row">
			<div class="col text-right">
				<!-- Fav form -->
				<form id="fav-form">

					<input class="fav-name" type="hidden" name="name" value="">
					<input class="fav-url" type="hidden" name="url" value="">

					<!-- Fav form submit button -->
						<span id="fav-form-submit" class="oi oi-bookmark"></span>				
				</form> <!-- #fav-form -->
			</div>
		</div>
		{{/if}}

		<div class="row">
			<div class="col text-center">
				<h1 id="routine-name">Go</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-7">
					<!--
					<p>Press <span style="padding: 0 0.3rem;" class="oi oi-media-play"></span> when you are ready to start working and receiving alerts.</p> -->

					<span class="d-none interval">{{interval}}</span> 

					<p>Time until next alert: <span class="timer"></span></p>
				
			</div>
			<div class="col-5">
				<a class="more-info d-flex align-items-center justify-content-end">View Routine <span class="caret">⌄</span></a>
			</div>
		</div>

		<div class="row info-drawer" style="margin-bottom: 1.4rem">
			<div class="col">
				<div class="panel">
					<div class="stretches-info">
					<ol>
						{{#each todo}}
						<li>
						{{title}}</li>
						{{/each}}
					</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col text-center pause-panel">
				<div class="panel d-flex align-items-center justify-content-center">
					<span id="pause-button" class="oi oi-media-pause"></span>
					<span id="resume-button" class="oi oi-media-play"></span>
				</div>
			</div>
			<div class="col text-center">
				<div class="panel d-flex align-items-center justify-content-center">
					<span id="start-button" class="oi oi-media-play"></span>
					<span id="stop-button" class="oi oi-media-stop"></span>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 1.4rem">
			<div class="col text-center">
				<div class="panel gif-panel">
					<h4 class="working-message">Currently Working...</h4>

					<ul class="curr-stretch-list">
					{{#each todo}}
					<li class="curr-stretch">
						<h4>{{title}}</h4>
						<div class="curr-stretch-img">
							<img src="{{gif}}">
						</div>
						<h1 class="stretch-timer">{{duration}}</span></h1>

						<span class="d-none stretch-duration">{{duration}}</span>

						<span class="d-none key-store">{{@key}}</span>
						<p><span class="key">{{@key}}</span>/{{../todo.length}}</p>
					</li>
					{{/each}}
					</ul>

				</div>

			</div>
		</div>


		<div class="pagination d-flex justify-content-between">

			<button class="btn btn-primary back-button" type="button" onclick="goBack()">
				Back
			</button> 


		</div>  <!-- .pagination -->

	</div> <!-- .container -->
	
</div> <!-- #go-page -->
{{/with}}

<!-- go.js -->
<script src="js/go.js"></script>


